.profile {
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 100;
}

.intro1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.txtcolor {
    color:rgb(255, 206, 145) ;
}

.aboutme {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* p {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
} 
    모든 p 태그에 적용*/

/*  태그에는 우선순위가 있음.
    class: 10점
    tag: 1점
    id(#): 100점
    style: 1000점 <- HTML에 직접 작성
    우선순위에 따라 높은 순으로 먼저 적용됨.
*/

.box {
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    color: white;
    box-shadow: black 3px 3px;
    /* box shadow 숙제 */
}

.alert-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: coral;
    padding: 20px;
    border-radius: 5px;
    color: white;
    display: none;
}

.button {
    margin: auto
}